body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-weight: bolder;
    font-size: 2em;
}

h2 {
    font-size: 600;
}

.orange {
    color: orange;
}


.flexible {
    display: flex;
    padding-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 3%;
    padding-top: 1%;
    font-size: 1.2em;
    text-align: justify;
}

.half-width img {
    width: 80%;
    height: 100%;
}

.hire-batton {
    text-decoration: none;
    background-image: linear-gradient(rgb(237, 76, 76), rgb(253, 46, 4));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 4%;
    text-align: justify;

}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    box-shadow: 10px 10px 50px gray;
    width: 40%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 4.5%;
    margin-right: 3%;
    text-align: justify;
    border-radius: 10px;

}

#left {
    border-left: 8px solid tomato;
}

#right {
    border-left: 8px solid blue;
}

footer p {
    text-align: center;
    color: gray;
}